.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Passion+One");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One");
/*@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One');*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39"); /*Barcode Font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@700");

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-x: hidden !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 800 !important;
  color: #ff007a;
  font-size: 2.6rem !important;
  line-height: 130% !important;
}

h4 {
  margin-top: 0.8rem !important;
  font-size: 1.5rem !important;
  font-weight: 800 !important;
  line-height: 130% !important;
  color: #3f3f3f;
}

h5 {
  margin-top: 1.2rem !important;
  font-weight: 800 !important;
  font-size: 2.3rem !important;
  color: #ff007a;
  line-height: 130% !important;
}

.subDiv .h5 {
  font-weight: bold !important;
  line-height: 130% !important;
  color: #212427 !important;
}

h6 {
  font-weight: bold !important;
  color: #b9b9b9;
  line-height: 130% !important;
  font-style: italic !important;
}

.myFooter {
  font-family: "Agdasima", sans-serif;
  margin-top: 0 !important;
  margin-bottom: 5%;
}

.nav-link {
  font-family: "Agdasima", sans-serif;
  color: #ff007a !important;
  align-content: flex-start;
  font-weight: bold !important;
  padding: 1rem !important;
  margin: 0 !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.heroTitle {
  font-family: "Agdasima", sans-serif;
}

.sectionTitle {
  font-family: "Agdasima", sans-serif;
}

.active {
  font-family: "Agdasima", sans-serif;
  color: #ffe600 !important;
}

.iconify {
  color: #ff007a;
  margin-right: 1.5rem;
}

.indexText {
  font-size: 0.5rem;
}

.backDiv {
  width: fit-content !important;
  display: flex;
  margin-top: 2% !important;
  margin-bottom: 5% !important;
}

.backDiv .nav-link {
  color: #ff007a !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.projectMedia {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*   overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem; */
}

.projectMedia img {
  max-width: 100%;
  height: auto;
}

.projectImg img {
  width: 25rem;
  height: auto;
}

.projectCarousal {
  width: auto;
  height: 30rem;
  overflow: hidden;
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin: 2rem;
}

/* -------- Typing Effect -------- */
.typing {
  display: flex;
  flex-direction: row;
}

.Typewriter__wrapper {
  color: #ffe600;
  background: #ff007a;
}

.fixWord {
  margin-right: 1rem;
}

.navBar {
  display: grid;
  align-items: center;
  justify-content: end;
}

.myTitle {
  color: #ff007a !important;
  font-family: "Agdasima", sans-serif;
  margin-top: 4%;
  width: 5rem;
  height: 5rem;
  font-weight: bold;
  position: absolute;
  display: grid;
  justify-content: start;
  font-size: 2.2rem !important;
}

.myTitle:hover {
  font-weight: bold;
  position: absolute;
  display: grid;
  justify-content: start;
  background-color: #ffe600;
}

.mainPage {
  height: 98vh;
  width: 95vw;
  display: grid;
  align-items: center;
  justify-content: left;
  margin-left: 5%;
}

.container {
  width: 60vw !important;
}

.myGallery {
  background-color: #ff007a;
  width: 100%;
}

.custom-btn {
  color: #ff007a !important;
  text-decoration: none !important;
  border-color: #ff007a !important;
  font-weight: bold !important;
}

.custom-btn:hover {
  color: #ffe600 !important;
  text-decoration: none !important;
  background-color: #ff007a !important;
}

.image {
  width: 30rem;
}

.hoverUnderline .custom-btn {
  color: #212427 !important;
  text-decoration: none !important;
  border-color: transparent !important;
  font-weight: normal !important;
}

.hoverUnderline .custom-btn .resume {
  color: #ff007a !important;
}

.hoverUnderline .custom-btn:hover {
  color: #ff007a !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

/* -------- End of Typing Effect -------- */

/* -------- Hover Button Effect -------- */
.hoverUnderline {
  position: relative;
  text-decoration: none;
  width: fit-content;
  color: #ff007a;
}

.hoverUnderline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffe600;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.hoverUnderline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* -------- End of Hover Button Effect -------- */

/* -------- Gallery Hover Effect -------- */
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600");

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
}

.media {
  width: 25rem;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
}

.media img {
  /*max-width: 100%;*/
  height: 100%;
  width: 100%;
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ff007a;
  transition: all 0.9s ease;
  margin: 1rem !important;
}

.layer .nav-link {
  transition: all 0.9s ease;
  transform: scale(0.1);
  padding-top: 50px;
  margin: 50px;
  color: #ff007a !important;
  text-align: center;
  justify-content: center;
}

.galleryP {
  width: 70vw !important;
}

.galleryP .nav-link {
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.media:hover .layer {
  opacity: 1;
  width: 100%;
  transition: all 0.5s ease;
  background-color: #ffe600;
}

.media:hover .layer .nav-link {
  transform: scale(1);
  transition: all 0.9s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe600;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .container {
    width: 90vw !important;
  }
  .navbar-expand {
    justify-content: center !important;
  }

  .mobileRoute {
    height: 80vh;
    align-items: center;
  }

  .mobileTitle {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff007a !important;
    font-size: 2rem !important;
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    display: block;
    justify-self: center;
  }

  .media {
    width: 80vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding: 0 !important;
  }
  .nav-link {
    flex: 0 0 50%;
    text-align: center;
    background-color: #ffe600;
  }

  .navbar {
    display: block !important;
  }

  .navbar .active {
    font-family: "Agdasima", sans-serif;
    color: #ffe600 !important;
    background-color: #ff007a !important;
  }
}

/* -------- End of Gallery Hover Effect -------- */
