.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  color: #FF007A;
}

.container {
  height: 100vh;
  width: 2000px;
  text-align: left;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #FF007A !important;
  align-content: flex-start;
}

.active {
  font-family: 'Montserrat', sans-serif;
  color: #FFE600 !important;
}

.iconify {
  color: #FF007A;
  margin-right: 1.5rem;
}

/* -------- Typing Effect -------- */
.typing {
  display: flex;
  flex-direction: row;
}

.Typewriter__wrapper {
  color: #FFE600;
  background: #FF007A;
}

.fixWord {
  margin-right: 1rem;
}

/* -------- End of Typing Effect -------- */



/* -------- Hover Button Effect -------- */
/* a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #FF007A;
  transition: all 200ms ease-out;
} */

/* .resume-btn {
  transition: all 200ms ease-out;
}

.resume-btn:hover  {
  background-color: rgb(83, 5, 156) !important;
  border: rgb(255, 0, 0) !important;
  transition: all 200ms ease-out;
} */
.hoverUnderline {
  /* background-color: rgb(235, 215, 253) !important; */
  display: inline;
  position: relative;
  overflow: hidden;
}

/* .hoverUnderline:hover {
  text-decoration: underline;
  transition: all 200ms ease-out;
} */

.hoverUnderline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hoverUnderline:hover:after,
.hoverUnderline:focus:after,
.hoverUnderline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}




/* -------- End of Hover Button Effect -------- */