.App {
  /* text-align: center; */
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold !important;
  color: #FF007A;
  line-height: 130% !important;
}

h4 {
  margin-top: 0.8rem !important;
  font-size: large !important;
  font-weight: bold !important;
  line-height: 130% !important;
}

h5 {
  margin-top: 1rem !important;
  font-weight: bold !important;
  color: #FF007A;
  line-height: 130% !important;

}

.subDiv .h5 {
  font-weight: bold !important;
  line-height: 130% !important;
  color: #212427 !important;
}

h6 {
  font-weight: bold !important;
  color: #b9b9b9;
  line-height: 130% !important;
  font-style: italic !important;
}

.myFooter {
  margin-top: 10% !important;
  margin-bottom: 5%;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #FF007A !important;
  align-content: flex-start;
  font-weight: bold !important;
  padding: 1rem !important;
  margin: 0 !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.active {
  font-family: 'Montserrat', sans-serif;
  color: #FFE600 !important;
}

.iconify {
  color: #FF007A;
  margin-right: 1.5rem;
}

.indexText {
  font-size: 0.5rem;
}

.backDiv {
  width: fit-content !important;
  display: flex;
  margin-top: 2% !important;
  margin-bottom: 5% !important;
}

.backDiv .nav-link {
  color: #FF007A !important;
}

.projectMedia {
  width: 15rem;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.projectMedia img {
  max-width: 100%;
  height: auto;
}

.projectImg img {
  width: 25rem;
  height: auto;
}

.projectCarousal {
  width: auto;
  height: 30rem;
  overflow: hidden;
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin: 2rem;
}

/* -------- Typing Effect -------- */
.typing {
  display: flex;
  flex-direction: row;
}

.Typewriter__wrapper {
  color: #FFE600;
  background: #FF007A;
}

.fixWord {
  margin-right: 1rem;
}

.navBar {
  display: grid;
  align-items: center;
  justify-content: end;
}

.myTitle {
  color: #FF007A !important;
  margin-top: 2%;
  font-weight: bold;
  position: absolute;
  display: grid;
  justify-content: end;
  font-size: 1.2rem !important;
}

.mainPage {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: left;
  margin-left: 5%;
}

.container {
  width: 50vw !important;
}

.myGallery {
  background-color: #FF007A;
  width: 100%;
}

.custom-btn {
  color: #FF007A !important;
  text-decoration: none !important;
  border-color: #FF007A !important;
  font-weight: bold !important;
}

.custom-btn:hover {
  color: #FFE600 !important;
  text-decoration: none !important;
  background-color: #FF007A !important;
}

.image {
  width: 30rem;
}

.hoverUnderline .custom-btn {
  color: #212427 !important;
  text-decoration: none !important;
  border-color: transparent !important;
  font-weight: normal !important;
}

.hoverUnderline .custom-btn:hover {
  color: #FF007A !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

/* -------- End of Typing Effect -------- */



/* -------- Hover Button Effect -------- */
.hoverUnderline {
  position: relative;
  text-decoration: none;
  width: fit-content;
  color: #FF007A;
}

.hoverUnderline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFE600;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.hoverUnderline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* -------- End of Hover Button Effect -------- */

/* -------- Gallery Hover Effect -------- */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
}

.media {
  width: 25rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.media img {
  max-width: 100%;
  height: auto;
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 90%;
  background: #FFF;
  color: #151E3F;
  transition: all 0.9s ease;
  margin: 1rem !important;
}

.layer .nav-link {
  transition: all 0.9s ease;
  transform: scale(0.1)
}

.galleryP {
  width: 70vw !important;
}

.galleryP .nav-link {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.media:hover .layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  /* background-color:#FFE600; */
  color: #FF007A;
}

.media:hover .layer .nav-link {
  transform: scale(1);
  transition: all 0.9s ease;
}


@media (max-width: 800px) {
  body {
    transform: scale(0.6);
  }
}

@media (max-width: 600px) {
  .wrapper {
    display: block;
    margin: 10px;
  }
}

/* -------- End of Gallery Hover Effect -------- */