.App {
  /* text-align: center; */
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  color: #FF007A;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #FF007A !important;
  align-content: flex-start;
}

.active {
  font-family: 'Montserrat', sans-serif;
  color: #FFE600 !important;
}

.iconify {
  color: #FF007A;
  margin-right: 1.5rem;
}

.indexText {
  font-size: 0.5rem;
}

/* -------- Typing Effect -------- */
.typing {
  display: flex;
  flex-direction: row;
}

.Typewriter__wrapper {
  color: #FFE600;
  background: #FF007A;
}

.fixWord {
  margin-right: 1rem;
}

/* -------- End of Typing Effect -------- */



/* -------- Hover Button Effect -------- */
.hoverUnderline {
  position: relative;
  text-decoration: none;
  width: fit-content;
  color: #FF007A;
}

.hoverUnderline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFE600;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.hoverUnderline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* -------- End of Hover Button Effect -------- */